<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean name="demoService" class="com.zhanghe.test.spring.DemoServiceImpl"></bean>

  <bean name="adaptor" class="com.zhanghe.rpc.RpcServerSpringAdaptor" init-method="init" destroy-method="destroy">
    <property name="ip" value="127.0.0.1"></property>
    <property name="port" value="777"></property>
    <property name="services">
      <list>
        <ref bean="demoService"></ref>
      </list>
    </property>
  </bean>
</beans>